.canvas {
	flex: 1 1 auto;
	display: flex;
	justify-content: center;
	align-items: center;
	&__element-canvas {
		background-color: #ffffff;
		border: 2px solid #ec6646;
	}
	&__wrapper {
		max-width: 800px;
		max-height: 300px;
		overflow: auto;
	}
}
