.layers {
	&__create-btn {
		height: 50px;
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		border: 2px solid #16161b;
		transition: border 0.4s ease 0s;
		box-shadow: 0 0 3px 0px #000;
		&:hover {
			border: 2px solid #ec6646;
		}
	}
	&__plus-img {
		width: 14px;
		height: 14px;
	}
	&__layer-btn {
		margin-top: 10px;
		height: 60px;
		padding: 5px;
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;
		border: 2px solid #16161b;
		transition: border 0.4s ease 0s;
		box-shadow: 0 0 1px 0px #000;
		color: rgb(153, 153, 153);
		&:hover {
			border: 2px solid #66C0F4;
		}
		&.target {
			border: 2px solid #ec6646;
		}
	}
	&__delete-layer {
		position: absolute;
		top: 5px;
		right: 5px;
		width: 16px;
		height: 16px;
	}
	&__icon-delete {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
		z-index: 50;
	}
}

.area-working__layers-block {
	.layers {
		&__container-create-btn {
			margin-bottom: 15px;
		}
		&__create-btn {
			width: 100%;
		}
		&__layer-btn {
			width: 100%;
		}
	}
}

.block-content__layers-block {
	.layers {
		&__container-create-btn {
			margin-right: 15px;
			display: flex;
			align-items: center;
		}
		&__create-btn {
			width: 80px;
			height: 65px;
		}
		&__layer-btn {
			height: 65px;
			margin-left: 10px;
			margin-top: 0;
		}
	}
}
