.modal-setting-panel {
	position: absolute;
	width: 210px;
	background-color: #202025;
	padding: 7px;
	border: 1px solid aliceblue;
	z-index: 150;
	&__column {
		display: flex;
		align-items: center;
		&:first-child {
			flex: 0 1 80%;
		}
		&:last-child {
			flex: 0 1 20%;
			justify-content: center;
		}
	}
	&__image {
		width: 20px;
		height: 20px;
		margin-right: 10px;
	}
	&__element {
		margin-bottom: 10px;
		display: flex;
		align-items: center;
		&:last-child {
			margin-bottom: 0;
		}
	}
	&__title {
		color: aliceblue;
		font-size: 13px;
		transition: color 0.3s ease 0s;
		&:hover {
			color: #66C0F4;
		}
	}
	&__check-img {
		width: 15px;
		height: 15px;
	}
}