.panel {
	background-color: rgb(44, 44, 44);
	border-right: 1px solid aliceblue;
	border-left: 1px solid aliceblue;
	padding: 5px;
	position: absolute;
	transition: transform 0.3s ease 0s;
	z-index: 5;
	&__title {
		text-align: center;
		font-weight: 700;
		color: aliceblue;
		margin-bottom: 10px;
	}
	&__setting-block {
		display: flex;
		justify-content: flex-end;
		margin-bottom: 10px;
		position: relative;
	}
	&__btn-show {
		position: absolute;
		top: 45%;
		width: 0;
		height: 0;
		border-top: 30px solid transparent;
		border-bottom: 30px solid transparent;
	}
	&__arrow {
		position: absolute;
		z-index: 20;
		top: -7px;
		width: 15px;
		height: 15px;
	}
}

.block-setting {
	&__setting-el {
		color: #66C0F4;
		font-size: 35px;
	}
}
